{% extends 'base.html.twig' %}

{% block title %}Profil de {{ user.userNaming.fullUserName ?? user.email }}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/user_profile.css') }}">
{% endblock %}


{% block body %}
    <section class="user-profile py-5 my-5">
        <div class="container pb-5">
            <div class="d-flex justify-content-center align-items-center">
                <div id="cc-card" class="cc-card">
                    <div class="cc-avatar position-relative ">
                        <div class="avatar-inner rounded-circle overflow-hidden">
                            {% if user.image.image is defined and user.image.image is not null %}
                                <img src="{{ asset('images/user/profile/'~ user.image.image) | imagine_filter('profile_image_page') }}" alt="Image de
                            profil"/>
                            {% else %}
                                <img src="{{ asset('img/team-1.jpg')}}" alt="Image de profil par defaut">
                            {% endif %}
                            {% if user.image.image is defined %}
                                <a href="{{ path('update_user_profile', {'user': user.id}) }}">
                                    <i class="fa-solid fa-camera"></i>
                                </a>
                            {% else %}
                                <a href="{{ path('add_user_profile', {'user': user.id}) }}">
                                    <i class="fa-solid fa-camera"></i>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="cc-title text-center">
                        <h2 class="cc-profile-name position-relative mt-4 nunito-sans fw-medium">
                            {{ user.userNaming.fullUserName ?? user.email }}
                            {% if user.userNaming.user is defined %}
                                <a href="{{ path('update_user_naming', {'user' : user.id}) }}" class="cc-pen-edit"><i class="fa-solid fa-pen
                            align-middle"></i></a>
                            {% else %}
                                <a href="{{ path('add_user_naming', {'id' : user.id}) }}" class="cc-pen-edit"><i class="fa-solid fa-pen
                            align-middle"></i></a>
                            {% endif %}

                        </h2>
                        <p class="fw-medium mb-0">
                            <span>{{ user.userNaming.occupation ?? '' }}</span>
                        </p>
                        {#                        <p class="text-center fw-medium"> #}
                        {#                            <span>{{ user.roles[0] ?? 'Utilisateur' }}</span> #}
                        {#                        </p> #}
                        <strong class="location cc-text-sailing">
                            <i class="fa-solid fa-location-dot"></i>
                            {% if user.userNaming.user is defined %}
                                {{ user.userNaming.country }}
                            {% else %}
                                <a href=" {{ path('update_user_naming', {'user' : user.id}) }}"> Ajouter un pays <i class="fa-solid fa-pen
                                align-middle small"></i></a>
                            {% endif %}
                        </strong>
                    </div>
                    <div class="about cc-bg-sailing cc-text-white">
                        <p class="message">{{ user.aboutUser.bio ?? "Ajouter une biographie" }}</p>
                        {% if user.aboutUser.user is defined %}
                            <a href="{{ path('update_user_bio', {'user': user.id}) }}" class="float-end">Mettre à jour la bio</a>
                        {% else %}
                            <a href="{{ path('add_user_bio', {'id': user.id}) }}" class="float-end">Ajouter une bio</a>
                        {% endif %}
                    </div>
                    <div class="cc-social">
                        <a href="#" class="cc-icon linkedin">
                            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 448 512" height="1em" width="1em"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z"></path>
                            </svg>
                        </a>
                        <a href="#" class="cc-icon github">
                            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 496 512" height="1em" width="1em"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z"></path>
                            </svg>
                        </a>
                        <a href="#" class="cc-icon instagram">
                            <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                                 stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                                <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                                <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
                            </svg>
                        </a>
                        <a href="#" class="cc-icon twitter">
                            <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                                 stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                <path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path>
                            </svg>
                        </a>
                        <a href="#" class="cc-icon telegram">
                            <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                                 stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M15 10l-4 4l6 6l4 -16l-18 7l4 2l2 6l3 -4"></path>
                            </svg>
                        </a>
                        <a href="#" class="cc-icon website">
                            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 20 20" height="1em" width="1em"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M12.586 4.586a2 2 0 112.828 2.828l-3 3a2 2 0 01-2.828 0 1 1 0 00-1.414 1.414 4 4 0 005.656 0l3-3a4 4 0 00-5.656-5.656l-1.5 1.5a1 1 0 101.414 1.414l1.5-1.5zm-5 5a2 2 0 012.828 0 1 1 0 101.414-1.414 4 4 0 00-5.656 0l-3 3a4 4 0 105.656 5.656l1.5-1.5a1 1 0 10-1.414-1.414l-1.5 1.5a2 2 0 11-2.828-2.828l3-3z"
                                      clip-rule="evenodd">
                                </path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% for message in app.flashes('profile_update') %}
            <div class="alert alert-success" role="alert" style="z-index: 10;">{{ message }}</div>
        {% endfor %}
    </section>
{% endblock %}
{% block javascripts %}
    <script>
        window.onload = () => {
            //Selector
            const $ = (selector) => document.querySelector(selector);

            //Elements
            const card = $('#cc-card'),
                toggle = $('#cc-toggle'),
                button = $('#input');

            //Toggle
            button.addEventListener('click', () => {
                card?.classList.toggle('dark');
                toggle?.classList.toggle('dark');
            });
        }
    </script>
{% endblock %}


